<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href='about.css'/>
  <style>
  ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black; /*#333*/
  }

  li {
      float: left;

  }

  .main {
    margin: 0;
    padding:0;
  }

  .center {
      margin: auto;
      width: 60%;

      padding: 10px;
  }


  li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }

  body {
    background-color: black;
  }

  p {
    font-family: Verdama;
  }

  #about {
    padding-left: 100px;
    color: white;
  }

  </style>
</head>
<body>

<nav>
<ul id="nav">
<li><a class="active" href="../welcome/index.html.erb">Home</a></li>
<li><a href="../contact.html.erb">Contact</a></li>
<li><a href="#about">About</a></li>
</ul>
</nav>

<div class="main">
<img src = "https://collegefoodienyc.files.wordpress.com/2012/08/layne-kennedy-nyc-pano_panorama1.jpeg" width="1840" height ="460">
</div>

<div id="about">
<h1>About Me</h1>
<br><br>
<p>
  I am a student at Dartmouth College (Class of 2018), studying Computer Science and Economics.
I am working on learning web development and application programming techniques, to augment my CS education at Dartmouth.
I am looking for an opportunity in software engineering, or application or web development for the winter of 2016.
</p>
</div>

</body>
</html>
