<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href='contact.css'/>
  <style>
  ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black; /*#333*/
  }

  li {
      float: left;

  }

  .main {
    margin: 0;
    padding:0;
  }

  .center {
      margin: auto;
      width: 60%;

      padding: 10px;
  }


  li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }

  body {
    background-color: black;
  }

  p {
    font-family: Verdama;
    font-size: 20px;
  }

  #contact {
    padding-left: 100px;
    color: white;
  }

  </style>
</head>
<body>

<nav>
<ul id="nav">
<li><a class="active" href="./welcome/index.html.erb">Home</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="../about.html.erb">About</a></li>
</ul>
</nav>

<div class="main">
<img src = "https://collegefoodienyc.files.wordpress.com/2012/08/layne-kennedy-nyc-pano_panorama1.jpeg" width="1840" height ="460">
</div>

<div id="contact">
  <h1>Contact Information</h1>
  <br><br><br>
  <p>LinkedIn</p>
  <a href="www.espn.com">Anish Chadalavada LinkedIn</a>
  <br><br><br>
  <p>Facebook</p>
  <a href="www.espn.com">Facebook page</a>
  <br><br><br>
  <p>Twitter</p>
  <a href="www.espn.com">Twitter</a>
  <br><br><br>
  <p>GitHub</p>
  <a href="www.espn.com">GitHub</a>
  <br><br><br>
  <p>Email</p>
  <a href="www.espn.com">Email</a>
  <br><br><br>
  <p>Address</p>
  <p>Dartmouth College</p>
  <p>3828 Hinman</p>
  <p>Hanover, NH 03755</p>
  <br>
  <br>

</div>

</body>
</html>
